.error404-bg {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    z-index: 999;
}

.error404 {
    position: absolute;
    top:50%;
    left:50%;
    width: 300px;
    height: 300px;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.error404 img {
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.error404 .error {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}