@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');



body {
    margin: 0;
}

a { 
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 700px) {
    .visual-area {
        display: none;
    }
    .visual-area-image {
        display: none;
    }
}

.visual-area-background {
    background-color: #64c1df;
}

.visual-area {
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;

    background-image: url(../images/Home/banner-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.visual-area-image {
    padding: 150px 0px;
    padding-left: 100px;
    max-width: 200px;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .visual-area-m {
        display: none;
    }
    .visual-area-m-image {
        display: none;
    }
}

.visual-area-m {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.visual-area-m-image {
    vertical-align: bottom;
    width: 100%;
}

.program-menu-background {
    background-color: #64c1df;
}

.program-menu {
    margin: 0 auto;
    max-width: 1200px;  
    background-color: #64c1df;
}

.program-menu-title {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.program-menu-title::-webkit-scrollbar {
    display: none;
}

.program-menu-titletext  {
    margin: 0px 25px;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    color: #fff;
    white-space:nowrap;
}

.program-menu-title-text  {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.active {
    /*border-bottom: 5px solid #000;*/
    box-shadow: 0 -3px 0 0 #000 inset; 
}

.home-notice {
    margin: 20px auto;
    margin-top: 20px;
    max-width: 1200px;
    width: 90%;
}

.home-notice-title-maintext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: left;

    padding: 10px 0px;
    margin: 0px;
}

.home-notice-contents-swiper {
    overflow-x: scroll;
    margin: 10px 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home-notice-contents-swiper::-webkit-scrollbar {
    display: none;
}

.home-notice-contents {
    display: flex;
    justify-content: start;
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px);
}

.home-notice-content {
    margin: 5px;
}

.home-notice-content-thumbnail {
    min-width: 250px;
}

.home-notice-content-thumbnail-image {
    width: 100%;
}

.home-notice-content-title {
    padding: 10px 0px;
}

.home-notice-content-title-maintext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;

    margin: 0px;
}

.home-notice-content-title-subtext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: left;

    margin: 0px;
    padding: 5px 0px;
}

/* 프로그램 */
.program {text-align: center;}
.program img {width: 100%;}
.program video {width: 100%;}

/* 프로그램 */
.cast {text-align: center;}
.cast img {width: 100%;}
.cast video {width: 100%;}

/* 포토 */
.map {text-align: center;}
.map img {width: 100%;}
.map video {width: 100%;}

/* 포토 */
.photo {width: 100%;}
.photo:after {content: ""; display:block; clear: both;}
.photo .picture {display:block; float: left; width: 300px; height: 300px; overflow: hidden;}
.photo .picture img {height: 100%; transform:translateX(-25%); transition: all .3s;}
.photo .picture:hover img {transform:translateX(-25%) scale(1.2);}

/* 다시보기 */
.replay div {   
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.replay div iframe, .replay div object, .replay div embed{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
